<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="layout-product">
    <mat-card class="product-card">
        <img mat-card-image src="https://www.365wecare.com/directory/product/images/73/2212211126271.jpg">
        <mat-card-content>
            <p class="text-product-name"> Beepolis Mouth Spray 15 ml </p>
            <p class="text-product-detail"> ลดการอักเสบ ติดเชื้อในช่องปากขนาด </p>
        </mat-card-content>
        <mat-card-footer>
            <p class="text-product-price"> 135 บาท</p>
            <p class="text-product-qty"> 1 ชิ้น</p>
        </mat-card-footer>
        <mat-card-footer>

        </mat-card-footer>
    </mat-card>
    <mat-card class="product-card">
        <img mat-card-image src="https://www.365wecare.com/directory/product/images/71/2810211156271.jpg">
        <mat-card-content>
            <p class="text-product-name"> Swiss Energy Visio Vit 30เม็ด.For Healthy Eyesight </p>
            <p class="text-product-detail"> วิตามินบำรุงสายตา ป้องกันการเสื่อม </p>
        </mat-card-content>
        <mat-card-footer>
            <p class="text-product-price"> 2,325 บาท</p>
            <p class="text-product-qty"> 2 ชิ้น</p>
        </mat-card-footer>
    </mat-card>
    <mat-card class="product-card">
        <img mat-card-image src="https://www.365wecare.com/directory/product/images/65/2402211526511.jpg">
        <mat-card-content>
            <p class="text-product-name"> Precious Gold Body Cream 200 g.</p>
            <p class="text-product-detail"> โกลด์ บอดี้ ครีม ครีมบำรุงผิวกายสูตรเข้ม ผสานสารสกัดจากทองคำ ช่วยให้ผิวดูมีสุขภาพดี ขนาด 1 กระปุก </p>
        </mat-card-content>
        <mat-card-footer>
            <p class="text-product-price"> 39 บาท</p>
            <p class="text-product-qty"> 1 ชิ้น</p>
        </mat-card-footer>
    </mat-card>
    <mat-card class="product-card">
        <img mat-card-image src="https://www.365wecare.com/directory/product/images/73/2212211353021.jpg">
        <mat-card-content>
            <p class="text-product-name"> BLongan+Prololis Spray </p>
            <p class="text-product-detail">  สเปรย์พ่นลำคอ </p>
        </mat-card-content>
        <mat-card-footer>
            <p class="text-product-price"> 240 บาท</p>
            <p class="text-product-qty"> 1 ชิ้น</p>
        </mat-card-footer>
    </mat-card>
    <mat-card class="product-card">
        <img mat-card-image src="https://www.365wecare.com/directory/product/images/73/2112211545001.jpg">
        <mat-card-content>
            <p class="text-product-name"> Blissly Biocap 7 Active Probiotic 30 แคปซูล </p>
            <p class="text-product-detail"> ปรับสมดุลระบบย่อยอาหาร </p>
        </mat-card-content>
        <mat-card-footer>
            <p class="text-product-price"> 750 บาท</p>
            <p class="text-product-qty"> 1 ชิ้น</p>
        </mat-card-footer>
    </mat-card>
    <mat-card class="product-card">
        <img mat-card-image src="https://www.365wecare.com/directory/product/images/65/2402211523261.jpg">
        <mat-card-content>
            <p class="text-product-name"> Precious Vitamin E Plus Q10 uv Cream 200 g. </p>
            <p class="text-product-detail"> วิตามินอี พลัส คิวเท็น ยูวี ครีม ป้องกันรังสียูวีที่ให้ความชุ่มชื้นและกระจ่างใส </p>
        </mat-card-content>
        <mat-card-footer>
            <p class="text-product-price"> 39 บาท</p>
            <p class="text-product-qty"> 1 ชิ้น</p>
        </mat-card-footer>
    </mat-card>
</div>